select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  background-image: none;
  padding: 0.5rem;
  width: 15rem;
  height: 4rem;
  font-size: 2rem;
  border-radius: 10px;
  border: none;
  background-color: #b59ad0;
}

select:focus {
  border: none;
}

option:hover {
  background-color: aliceblue;
}
